.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#input-text {
  width: 600px;
  height: 100px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.text-quote {
  font-size: 2.5rem;
  font-weight: bold;
}
